msvs_version=2026

# npm bundles its own node-gyp which predates VS2026 (major version 18) support.
# This overrides it with the globally installed node-gyp >=12.3.0 which knows about VS2026.
# TODO: remove once npm is updated to v11 (which bundles node-gyp 12.x natively)
node_gyp=C:\nvm4w\nodejs\node_modules\node-gyp\bin\node-gyp.js